version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-cluedo
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: cluedo
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d

volumes:
  mysql_data:
